@import "animate.min.css";

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 13, 110, 253;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

body {
    background-image: url('../assets/img/restaurant-background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

#temp-helper {
    position: absolute;
    z-index: 2;
}

#color-overlay {
    position: absolute;
    background-image: radial-gradient(circle at 50% 50%, #2f74b5, #000 119%);;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    opacity: 50%;
}

#dynamic-element {
    position: relative;
    width: 100%;
    height: 100%;
}

#faceline-container {
    position: absolute;
    bottom: 20%;
}

#webcam-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#webcam {
    width: 768px;
    height: 1366px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    z-index: -1;
}

#faceline-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.message-1 {
    position: absolute;
    top: 33%;
    left: 13%;
    width: 70%;
    color: var(--bs-white);
    font-size: 3rem;
    font-weight: bold;
}

#text-style-one {
    color: #f9d448;
}

.message-2 {
    position: absolute;
    top: 45%;
    left: 13%;  
    width: 70%;
    color: var(--bs-white);
    font-size: 1.6rem;
}

.image-container-1 {
    position: absolute;
    top: 52%;
    left: -5%; 
}


#photo-style-one {
    max-width: 100%;

}

#button-style-one, #button-style-two{
    position: absolute;
    background: transparent;
    bottom: 3%;
}

#button-style-one {
    left: 6%;
}

#button-style-two {
    right: 4%;
}


/* dynamic element class*/

#blue-shadow{
    position: absolute;
    width: 100%;
    height: 25%;
    top:0;
    background-image: linear-gradient(to bottom, #2f74b5 0%, rgba(0, 0, 0, 0) 100%);
}

#qrcode {
    position: absolute;
    bottom: 3%;
    left: 5%;
    width: 200px;
    height: auto;

}

#qrcode img {
    object-fit: cover;
    max-width: 100%;
    max-height: auto;

}

#progress-bar-container {
    position: absolute;
    width: 60%;
    top:10%;
    left: 20%;
}

#mask , #thermometer, #vaccination {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    
}

#mask .img, #thermometer .img, #vaccination .img{
    max-width:100%;
    max-height:100%;
}

.message-3 {
    position: absolute;
    object-fit: contain;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: normal;
    color: white;
    left: 13%;
    right: 10%;
    top: 20%;
}

.message-3 span {
    color: #f9d448;;
}

#dynamic-element-2 {
    position: relative;
    width: 100%;
    height: 100%;
}

.qrcode-big {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.open-leave-home-save-msg {
    position: absolute;
    bottom: 3%;
    left: 5%;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}


.frame-element {
    display: flex;
    position: absolute;
    width: 500px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.frame-element img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.dynamic-checkbox {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#check-label{
    position: relative;
    height: 300px;
    width: 300px;
    display: inline-block;
    border: 6px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    border-left-color: #5cb85c;
    animation: rotate 1.2s linear infinite;
  }
  @keyframes rotate {
    50%{
      border-left-color: #9b59b6;
    }
    75%{
      border-left-color: #e67e22;
    }
    100%{
      transform: rotate(360deg);
    }
  }
  #check-label .check-icon{
    display: none;
  }
  #check-label .check-icon:after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50px;
    transform: scaleX(-1) rotate(135deg);
    height: 180px;
    width: 100px;
    border-top: 8px solid #5cb85c;
    border-right: 8px solid #5cb85c;
    transform-origin: left top;
    animation: check-icon 1.2s ease;
  }
  @keyframes check-icon {
    0%{
      height: 0;
      width: 0;
      opacity: 1;
    }
    20%{
      height: 0;
      width: 100px;
      opacity: 1;
    }
    40%{
      height: 180px;
      width: 100px;
      opacity: 1;
    }
    100%{
      height: 180px;
      width: 100px;
      opacity: 1;
    }
  }
  #check{
    display: none; 
  }
  #check:checked ~ #check-label .check-icon{
    display: block;
  }
  #check:checked ~ #check-label{
    animation: none;
    border-color: #5cb85c;
    transition: border 0.5s ease-out;
  }

.thankyou-msg {
    position: absolute;
    top: 37%;
    left: 13%;
    width: 70%;
    color: var(--bs-white);
    font-size: 4rem;
    font-weight: bold;
}

.thankyou-msg span {
    color:#f9d448;
}

.thankyou-subtext {
    position: absolute;
    top: 45%;
    left: 13%;  
    width: 70%;
    color: var(--bs-white);
    font-size: 1.6rem;
}